{% if page_obj.has_other_pages %}
<div class="pagination">
  {% if page_obj.has_previous %}
    <a class="page-link" href="?page=1" title="Primeira"><i class="bi bi-chevron-double-left"></i></a>
    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" title="Anterior"><i class="bi bi-chevron-left"></i></a>
  {% endif %}

  {% for page_number in page_obj.paginator.page_range %}
    {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
      <a class="page-link {% if page_obj.number == page_number %}active{% endif %}"
         href="?page={{ page_number }}">{{ page_number }}</a>
    {% endif %}
  {% endfor %}

  {% if page_obj.has_next %}
    <a class="page-link" href="?page={{ page_obj.next_page_number }}" title="Próxima"><i class="bi bi-chevron-right"></i></a>
    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" title="Última"><i class="bi bi-chevron-double-right"></i></a>
  {% endif %}
</div>
{% endif %}
