{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
  <h3 class="display-6">Detalhes do Produto</h3>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{ products.title }}</h3>
      <p class="cards-text">Categoria: {{ products.category}}</p>
      <p class="cards-text">Marca: {{ products.brand}}</p>
      <p class="cards-text">{{ products.description }}</p>
      <p class="cards-text">Número de série: <strong>{{ products.serie_number }}</strong></p>
      <p class="cards-text">Preço de custo: <strong>R$ {{ products.cost_price }}</strong></p>
      <p class="cards-text">Preço de Venda: <strong>R$ {{ products.selling_price }}</strong></p>
      <p class="cards-text">Quantidade em estoque: <strong>{{ products.quantity }}</strong></p>
    </div>
  </div>
  <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de produtos</a>
</div>

{% endblock %}