{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
  <h3 class="display-6">Detalhes da Entrada</h3>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{ inflows.product }}</h3>
      <p class="cards-text">Fornecedor: <strong>{{ inflows.supplier }}</strong></p>
      <p class="cards-text">Quantidade: <strong>{{ inflows.quantity }}</strong></p>
      <p class="cards-text">{{ inflows.description }}</p>
    </div>
  </div>
  <a href="{% url 'inflow_list' %}" class="btn btn-secondary mt-3">Voltar para a lista de entradas</a>
</div>

{% endblock %}